<ol class="post-list">
  {{#each posts}}
  <li>
    <a href="/posts/{{id}}">
    <article class="post">
      <div class="title">
        <div>{{title}}</div>
        <div>{{content}}</div>
        <div>{{user.username}}</div>
      </div>
      <div class="meta">
        on
        {{created_at}}
        |
        <a >{{comments.length}} comment(s)</a>
      </div>
  </li>
  {{/each}}
</ol>


